
<ion-modal-view>
  <ion-content class="has-header" padding="true">
  <div class="action-keypad overlay-container">
    <div class="row row-20  ">
    <table>
    <tr>
      <td><button class="button-wide smaller" ng-click="eraseActionModal()">Erase</button></td>
      <td><button class="button-wide smaller" ng-click="">No player</button></td>
      <td><button class="button-wide smaller" ng-click = "closeActionModal()">Done</button></td>
    </tr>  
    <tr>
      
      <td><button class="button-wide smaller" ng-click="">Fold</button></td>
      <td><button class="button-wide smaller" ng-click="">Check</button></td>
      <td><button class="button-wide smaller" ng-click="">Call</button></td>
    </tr>
    <tr>
      <td ng-click="buttonActionModal(1)">1</td>
      <td ng-click="buttonActionModal(2)">2</td>
      <td ng-click="buttonActionModal(3)">3<td>  
    </tr> 
    <tr>
      <td ng-click="buttonActionModal(4)">4</td>
      <td ng-click="buttonActionModal(5)">5</td>
      <td ng-click="buttonActionModal(6)">6</td>  
    </tr> 
    <tr>
      <td ng-click="buttonActionModal(7)">7</td>
      <td ng-click="buttonActionModal(8)">8</td>
      <td ng-click="buttonActionModal(9)">9<td>  
    </tr>
    <tr>
      <td><button class="button-wide smaller" ng-click="moveActionPrev()">Previous</button></td>
      <td ng-click="buttonActionModal(0)">0</td>
      <td><button class="button-wide smaller" ng-click="moveActionNext()">Next</button></td>  
    </tr>
  </table>
  </div>
  </div>  
  </ion-content>

</ion-modal-view>