<ion-modal-view>
  <ion-content class="">
  <div class="keypad">
    <div class="row row-20">
      <button class="button-wide smaller" ng-click="moveBoardPrev()">Previous</button>
      <button class="button-wide smaller" ng-click="moveBoardNext()">Next</button>
      <button class="button-wide smaller" ng-click = "closeBoardModal()">Done</button>
    </div>

    <div class="row" ng-repeat="rank in cardRanks">
      <div class="col" ng-repeat="suit in cardSuits">
        <div class="card-button" ng-click="buttonBoardModal(rank, suit)">{{rank}}{{suit}}</div>
      </div>
    </div>
  </div>  
  </ion-content>
</ion-modal-view>

