<ion-view title="Chat">
<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
<ion-content padding="true">
<div class="row row-bottom">
<div class="col">
<div class="chatbox-container">
<ul class="chatbox">
  <li class="item item-avatar" ng-repeat="message in messages">
    <img ng-src="{{message.photo}}"/>
    {{ message.name }}: {{ message.text }}
  </li>
</ul>
</div>
    <!-- push a new message onto the array -->
   <form>
      <input ng-model="newMessageText" />
      <button type="submit" ng-click="addMessage(newMessageText)">Add Message</button>
    </form>
</div>
</div>
</ion-content>
</ion-view>

