<ion-view title="Edit Hand">
  <ion-content padding="true">
    <form name="addHandForm" ng-submit="addHand(hand.theHand)">    
    <label>Board</label><span><input name="board" type="text" ng-model="hand.theHand" placeholder="Add Board"/></span>
    <table class="table table-bordered">
     <tbody class="input-cell">
      <tr>
        <td style = "height:1em; border: 1px solid black" ng-repeat="cell in table.hand"></td>
      </tr>
      <tr>
        <td style = "height:1em; border: 1px solid black" ng-repeat="cell in table.stack"></td>
      </tr>  
      <div ></div>
      <tr>
        <td>SB</td>
        <td>BB</td>
        <td>UG</td>
        <td>UG1</td>
        <td>M1</td>
        <td>M2</td>
        <td>M3</td>
        <td>CO</td>
        <td>B</td>
      </tr>  
      <tr style = "height:1em; border: 1px solid black" ng-repeat="row in table.action">
        <td style = "height:1em; border: 1px solid black" ng-repeat="cell in row"></td>  
      </tr>
    </tbody>
</table>
<label>Comments:</label><textarea rows="6" cols="40" name="comment" type="text"></textarea> 

 <button>
      Save Hand
</button> 
</form>  
    </ion-content>
</ion-view>