<ion-view title="Edit Hand">
  <ion-content padding="true">
    <form name="addHandForm" ng-submit="addHand(hand.theHand)">    
      <label>Board:</label><input name="board" type="text" ng-model="hand.theHand" placeholder="Add Board" ng-click="openDeckModal()"/>
      <table class="table table-bordered">
        <tbody class="input-cell">
          <tr>
            <td ng-repeat="cell in table.hand" ng-click="openDeckModal($parent, $index)">
              {{cell.card1}} {{cell.card2}}</td>
          </tr>
          <tr>
            <td ng-repeat="cell in table.stack"></td>
          </tr>  
          <tr>
            <td>SB</td>
            <td>BB</td>
            <td>UG</td>
            <td>UG1</td>
            <td>M1</td>
            <td>M2</td>
            <td>M3</td>
            <td>CO</td>
            <td>B</td>
          </tr>  
          <tr ng-repeat="row in table.action">
            <td ng-repeat="cell in row"></td>  
          </tr>
        </tbody>
      </table>
      <label>Comments:</label><textarea rows="6" cols="40" name="comment" type="text"></textarea> 
      <button>Save Hand</button> 
    </form>  
  </ion-content>
</ion-view>