<ion-modal-view>
  <ion-content class="">
  <div class="positionModal">
    <div class="row-20">
      <button class="button button-small button-calm" ng-click = "toggleIsDisabledCell()"> {{!dis && 'No' || 'Put'}} player</button>
      <button class="button button-small button-calm" ng-click="movePositionPrev()">Prev</button>
      <button class="button button-small button-calm" ng-click="movePositionNext()">Next</button>
      <button class="button button-small button-calm" ng-click="toggleHeroPosition()">My seat</button>
      <button class="button button-small button-calm" ng-click = "closePositionModal()">Done</button>
    </div>
    <!-- <lable>Comments on SB:<lable><textarea></textarea> -->
  </div>  
  </ion-content>
</ion-modal-view>

