<ion-view title="Signup">
  <ion-content has-header="true" padding="true" class="login-background">
    <form   >
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Name" ng-model="name">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Email" ng-model="email">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="password">
        </label>
        <div>
          <button class="button button-block button-dark" ng-click="signup(name, email, password)" type="submit">Create account</button>
        </div>
        <div style="text-align: center">
          <ion-list>
          Or <a ui-sref="login">Already have an account?</a>
        </ion-list>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>