<!--   <ion-view title="View Hand">
    <ion-content padding="true">
    <ion-modal-view id="deckModal">
      <ion-content>
    <div class="row row-20">
            <button class="button-wide smaller">Previous</button>
            <button class="button-wide smaller">Next</button>
            <button class="button-wide smaller">Done</button>
        </div>
        
        <div class="row" ng-repeat="rank in cardRanks">
        <div class="col col-4" ng-repeat="suit in cardSuits">
        <button class="card-button" ng-click="buttonDeckModal(rank, suit)">{{rank}}{{suit}}</button>
        </div>
        </div>
         <ion-modal-view>
      </ion-content>
    </ion-content>
  </ion-view> -->