<ion-view title="Edit Hand">
<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>
    <form name="addHandForm">    
      <label>Board:</label><label class = "pot">Pot Size: {{pot}}</label>
      <table class="board"><tr><td ng-repeat="cell in board.board" ng-click="openBoardModal($index)" ng-class="{highlightedCell:idBoardCol === $index}">{{cell.value}}</td></tr></table> 
      <table class="table table-bordered">
        <tbody class="input-cell">
          <tr>
            <td ng-click="openPositionModal($index)" ng-repeat="cell in table.posVal" ng-class="[{highlightedCell:idPositionCol === $index}, {heroPos: position.heroPosition === $index}]" >{{cell}}</td>
          </tr> 
          <tr>
            <td ng-repeat="cell in table.hand" ng-click="cell.isDisabled || openDeckModal($index)" style="padding-right:5px, padding-left:5px" ng-class="[{highlightedCell:idDeckCol === $index}, {disabled: cell.isDisabled}]" ng-disabled="isDisabled">
              {{cell.card1}}</td>
          </tr>
          <tr>
            <td ng-repeat="cell in table.stack" ng-click="cell.isDisabled || openStackModal($index)"ng-class="[{highlightedCell:idStackCol === $index},{disabled: cell.isDisabled}]" ng-disabled="isDisabled">{{cell.value}}</td>
          </tr>   
          <tr ng-repeat="row in table.action" >
            <td ng-repeat="cell in row" ng-click="cell.isDisabled || openActionModal($parent.$index, $index);" ng-class="[{highlightedCell: idActionRow === $parent.$index && idActionCol === $index}, cell.isHighlighted, {disabled: cell.isDisabled}]" ng-disabled="isDisabled" >{{cell.value}}</td>  
          </tr>
        </tbody>
      </table>
      <label>Comments:</label><textarea rows="6" cols="40" name="comment" type="text" ng-model="comment.value" ></textarea> 
    </form>  
  </ion-content>
      <ion-tabs class="editHand-position tabs-dark tabs-icon-top">
      <ion-tab title="Save Hand" icon="ion-archive" ng-click="saveHands()"></ion-tab>
      <ion-tab title="Clear Hand" icon="ion-refresh" ng-click="clearHand()"></ion-tab>
      <ion-tab title="Add Row" icon="ion-plus-round" ng-click="table.addRow()"></ion-tab>
      </ion-tabs>
</ion-view>